<div class="element_cell" id="<%= tle_id %>">
    <div class="tle_name"> <%= tle_name %></div>
    <div class="tle_icon"><img alt="<%= tle_name %> icon" src="<%= tle_icon_url %>" /></div>
    <div class="tle_more">
        <div class="tle_body"> <%= tle_name %></div>
    </div>
</div>